body {
	background-color:#808080;
	font-size: 20px;
}
ul {
	margin: 20px 0 0 0;
}
a {
	color:blue;
}
p {
	margin-bottom: 0;
}
.middle-container {
	border:5px solid #fff;
	margin: 0 auto;
	width:100%;
	max-width:700px;
	background-color:#fff;
	padding: 50px 100px 50px 100px ;
}
/*.content {
	width: 70%;
	margin: 0 auto 80px;
	padding-left: 20px;
}*/
.info-block {
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
}
.name {
	margin-top:50px;
	text-align:center;	
}
.foto {
	margin:50px auto 0; 
	display:block;
}